@model FPJobBoard.DATA.Position

@{
    ViewBag.Title = "Create a New";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg-faded bootstrapFlexSux">
        <h2 class="mt-2">@ViewBag.Title</h2>
        <h4>Position</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group rowFlex">
            @*@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Job Title" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group rowFlex">
            @*@Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div>
                @Html.EditorFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Job Description" } })
                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group buttons-box">
            <input type="submit" value="Create" class="btn btn-primary round-edges mr-1" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger round-edges ml-1" })

        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
