@model FPJobBoard.DATA.Position

@{
    ViewBag.Title = "This Position Will Be";
    ViewBag.Message = "Permanently Deleted!";
}


<div class="bootstrapFlexSux bg-faded">
    <div class="bg-faded bootstrapFlexSux p-3 m-3">
        <h2><strong>@ViewBag.Title</strong></h2>
        <h2><strong>@ViewBag.Message</strong></h2>

        <dl class="bootstrapFlexSux">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobDescription)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="buttons-box">
                <input type="submit" value="Delete" class="btn btn-danger round-edges mr-2" />
                @Html.ActionLink("Back to List", "Index",null, new { @class="btn btn-warning round-edges ml-2"})
            </div>
        }
    </div></div>
