@model IEnumerable<FPJobBoard.DATA.Position>

@{
    ViewBag.Title = "Positions";
}
<div class="bg-faded bootstrapFlexSux tidyEdges">
    <h2 class="mt-3"><strong>@ViewBag.Title</strong></h2>


    @if (User.IsInRole("Admin"))
    {<p>
        <strong>
            @Html.ActionLink("Create A New Position", "Create", "Positions", null, new { @class = "btn btn-success round-edges" })
        </strong>
    </p>
    }
    <div class="rowFlexData m-2">
        @foreach (var item in Model)
        {
            <dl class="bg-faded dataFlex m-2 p-2 pl-3">
                <dt>
                    <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                </dt>
                <dt>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </dt>


                @if (User.IsInRole("Admin"))
                {
                    <dt class="buttons-box">
                        @Html.ActionLink("Edit", "Edit", new { id = item.PositionID }, new { @class = "btn btn-primary mr-2 round-edges" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.PositionID }, new { @class = "btn btn-danger ml-2 round-edges" })
                    </dt>

                }

            </dl>
        }
    </div>

</div>