@model FPJobBoard.DATA.Application

@{
    ViewBag.Title = "Are You Sure You Want To Delete This Application?";
}


<div class="bg-faded bootstrapFlexSux p-3">
<h3><strong>@ViewBag.Title</strong></h3>

    <div class=" bg-faded p-3 bootstrapFlexSux">
        <dl class="bootstrapFlexSux">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManagerNotes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeclined)
            </dt>
            @if (Model.IsDeclined)
            {
                @:Closed
        }
            else
            {
                @:Open
        }
            @*<dd>
                    @Html.DisplayFor(model => model.IsDeclined)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.ResumeFilename)
            </dt>
            @* TODO: Link To REsume popup *@
            <dd>
                @Html.DisplayFor(model => model.ResumeFilename)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OpenPosition.Position)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpenPosition.PositionName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.FirstName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="buttons-box ">
                <input type="submit" value="Delete" class="btn btn-danger round-edges mr-2" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary round-edges ml-2" })
            </div>
        }
    </div></div>
