@model FPJobBoard.DATA.Application

@{
    ViewBag.Title = "Application for " + Model.OpenPosition.PositionName;
}

<div class="bootstrapFlexSux bg-faded">
    <h4 class="mt-3">@ViewBag.Title</h4>
    <dl class="dl-horizontal bg-faded bootstrapFlexSux p-3">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
        @if (Model.ManagerNotes != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManagerNotes)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.IsDeclined)
        </dt>

        <dd>
            @if (Model.IsDeclined)
            {
                @:Declined
            }
            else
            {
                @:Open
            }
            @*@Html.DisplayFor(model => model.IsDeclined)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeFilename)
        </dt>
        @* TODO: Link to resume popup *@
        <dd>
            @Html.DisplayFor(model => model.ResumeFilename)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
            </dt>*@

        @*<dd>
                @Html.DisplayFor(model => model.OpenPosition.PositionName)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.FullName)
        </dd>
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            @Html.ActionLink("Leave a Comment", "Edit", new { id = Model.ApplicationID }, new { @class = "btn btn-success round-edges mb-2" })
        }
        @Html.ActionLink("Back to Applications", "Index", null, new { @class = "btn btn-primary round-edges mt-2" })


    </dl>
</div>
