<!DOCTYPE html>
<html>
<head>
    @{ 
        ViewBag.Head = "Chá Tea";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <title>@ViewBag.Head - My ASP.NET Application</title>
    <link href="~/Content/Images/tea-icon.ico"  rel="icon"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css")
</head>
<body>
    <div class="tagline-upper text-center text-heading text-shadow text-white d-none d-lg-block">@ViewBag.Head</div>
    <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white d-none d-lg-block"><i>Tea Tea</i></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        @Html.ActionLink("Home","Index","Home",null, new { @class = "nav-link text-uppercase text-expanded" })
                        @*<a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index","Home")">
                            Home*@
                            @*<span class="sr-only">(current)</span>*@
                        @*</a>*@
                    </li>
                    <li class="nav-item px-lg-4 nav-link text-uppercase text-expanded nav-hover" style="padding: 0 0;">
                        @Html.ActionLink("About","About","Home",null, new { @class = "nav-link text-uppercase text-expanded" })
                        @*<a class="nav-link text-uppercase text-expanded" href="@Url.Action("About","Home")">About</a>*@
                        <ul class="bg-faded">
                            <li class="nav-item px-lg-4">@Html.ActionLink("Locations","Index","Locations",null, new { @class = "nav-link text-uppercase text-expanded" })</li>
                            <li class="nav-item px-lg-4">@Html.ActionLink("Positions", "Index", "Positions", null, new { @class = "nav-link text-uppercase text-expanded" })</li>
                            <li class="nav-item px-lg-4">@Html.ActionLink("Applications", "Index", "Applications", null, new { @class = "nav-link text-uppercase text-expanded" })</li>
                            <li class="nav-item px-lg-4">@Html.ActionLink("Open Positions", "Index", "OpenPositions", null, new { @class = "nav-link text-uppercase text-expanded" })</li>
                        </ul>
                    </li>
                    @*<li class="nav-item px-lg-4">
                        @Html.ActionLink("Blog","Blog","Home",null, new { @class = "nav-link text-uppercase text-expanded" })
                        <a class="nav-link text-uppercase text-expanded" href="blog.html">Blog</a>
                    </li>*@
                    <li class="nav-item px-lg-4">
                        @Html.ActionLink("Contact","Contact","Home",null, new { @class = "nav-link text-uppercase text-expanded" })
                        @*<a class="nav-link text-uppercase text-expanded" href="@Url.Action("Contact","Home")">Contact</a>*@
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item px-lg-4 nav-link text-uppercase text-expanded nav-hover"> Admin
                            <ul class="bg-faded">
                                <li class="nav-item px-lg-4">@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin", null, new { @class = "nav-link text-uppercase text-expanded" })</li>
                                <li class="nav-item px-lg-4">@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin", null, new { @class = "nav-link text-uppercase text-expanded" })</li>
                            </ul>
                        </li>
                    }
                    <li class="nav-item px-lg-4 nav-link nav-hover login-hover" style="padding: 0 0;">                                                  
                            @Html.Partial("_LoginPartial")                        
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        
    </div>
    <div class="clearfix"></div>
    <br />
        <footer class="bg-faded text-center">
            <div class="container">
                <p class="text-uppercase text-expanded">&copy; @DateTime.Now.Year - KPerry</p>
            </div>
        </footer>
    


        @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/popper.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
