@model FPJobBoard.UI.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}


<div class="bg-faded bootstrapFlexSux p-3">
    <h2><strong>@ViewBag.Title</strong></h2>
    <dl class="bootstrapFlexSux m-2">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div class="bg-faded bootstrapFlexSux p-3">
    <h4><strong>List of roles for this user</strong></h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <p>No roles found for this user.</p>
    }
    else
    {
    <table class="table bootstrapFlexSux bg-faded m-2">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    }
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn btn-warning round-edges"})
        @Html.ActionLink("Back To User List", "Index",null, new { @class="btn btn-primary round-edges"})
    </p>
</div>



