@model FPJobBoard.DATA.Location

@{
    ViewBag.Title = "This will permanently delete this location";
}

<div class="bootstrapFlexSux bg-faded">
    <div class="bootstrapFlexSux bg-faded m-3 p-3">
        <h4><strong>@ViewBag.Title</strong></h4>
        <dl class="bootstrapFlexSux">
            <dt>
                @Html.DisplayNameFor(model => model.StoreNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoreNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManagerID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.FullName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

                <input type="submit" value="Delete" class="btn btn-danger round-edges" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary round-edges" })
        }
    </div></div>
